@model SevensPizzaEntity.Order
@{
    ViewData["Title"] = "Checkout";
}

<script>

    //vaildate the input for credit card information
    function CardNum(e) {
        console.log(e.target.id);
        var name = event.target.id;
        var length;
        if (name == "Card_CardID")
            length = 15;
        else if (name == "Card_CecCode")
            length = 2;
        //the length start from 0, becuase it is keypress, it getting the length before new input
        if (e.which < 48 || e.which > 57 || e.target.value.length > length) {
            e.preventDefault();
            return false;
        }
    }

    //for MM/YY
    function expired(e) {

        var value = $(e.target).val();
        if (e.which == 8 && e.target.value.length == 3) {
            var value = $(e.target).val();
            value = value.substring(0, 2);
            $(e.target).val(value);
        }
        if (e.which == 8) {
            return true;
        }
        if (e.which < 48 || e.which > 57 || e.target.value.length > 4) {
            e.preventDefault();
            return false;
        }
        if (e.target.value.length == 2) {
            value += '/';
            $(e.target).val(value);
        }

    }

</script>


<h1 class="header">Checkout</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <input asp-for="OrderID" type="hidden" />
            <input asp-for="TotalPizza" type="hidden" />
            <input asp-for="Price" type="hidden" />
            <table>
                <tr>
                    <td class="tableHead">Total Amount</td>
                    <td class="tableContext">@Html.DisplayFor(modelItem => Model.TotalPizza)</td>
                </tr>
                <tr>
                    <td class="tableHead">Total Price</td>
                    <td class="tableContext">@Html.DisplayFor(modelItem => Model.Price)</td>
                </tr>

            </table>
            <!--payment method-->
            <label asp-for="Delivery" class="control-label"></label> <br />
            <div class="choice">
                <input type="radio" asp-for="Delivery" id="false" value="false" /><label class="option">Carryout</label>
                <input type="radio" asp-for="Delivery" id="true" value="true" /><label class="option">Delivery</label>
                <div class="border">
                    <label asp-for="DeliveryAddress" class="control-label"></label> <br />
                    <input asp-for="DeliveryAddress" id="addressInput" /><br />

                </div>
            </div>
            <label asp-for="PaymentType" class="control-label"></label> <br />
            <div class="choice">
                <input type="radio" asp-for="PaymentType" id="false" value="Cash" /><label class="option">Cash</label>
                <input type="radio" asp-for="PaymentType" id="true" value="Credit Card" /><label class="option">Credit Card</label>
                <div class="border">
                    <img src="~/images/creditCard.png" id="creditCard" alt="Credit Card type" /><br />
                    <label asp-for="Card.CardID" class="control-label"></label> <br />
                    <input asp-for="Card.CardID" onKeypress="CardNum(event)" /><br />
                    <label asp-for="Card.CardName" class="control-label"></label> <br />
                    <input asp-for="Card.CardName" /><br />
                    <label asp-for="Card.CecCode" class="control-label"></label> <br />
                    <input asp-for="Card.CecCode" onKeypress="CardNum(event)" /><br />
                    <label asp-for="Card.DOE" class="control-label"></label> <br />
                    <input asp-for="Card.DOE"  onkeydown="expired(event)"placeholder="MM/YY" /><br />
                </div>
            </div>

            <span asp-validation-for="PaymentType" class="text-danger"></span>
            <button type="submit" class=" btn btn-default">Order</button>

        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

