@model SevensPizzaEntity.Order
@{
    ViewData["Title"] = "Checkout";
}

<script>

    //vaildate the input for credit card information
    function CardNum(e) {
        console.log(e.target.id);
        var name = event.target.id;
        var length;
        if (name == "Card_CardNumber")
            length = 15;
        else if (name == "Card_CecCode")
            length = 2;
        //the length start from 0, becuase it is keypress, it getting the length before new input
        if (e.which < 48 || e.which > 57 || e.target.value.length > length) {
            e.preventDefault();
            return false;
        }
    }

    //for MM/YY
    function expired(e) {

        var value = $(e.target).val();
        if (e.which == 8 && e.target.value.length == 3) {
            var value = $(e.target).val();
            value = value.substring(0, 2);
            $(e.target).val(value);
        }
        if (e.which == 8) {
            return true;
        }
        if (e.which < 48 || e.which > 57 || e.target.value.length > 4) {
            e.preventDefault();
            return false;
        }
        if (e.target.value.length == 2) {
            value += '/';
            $(e.target).val(value);
        }

    }

</script>

<h1 class="glow">Checkout - @Html.DisplayFor(modelItem => Model.TotalPizza)  Pizzas In Cart</h1>
<h1 class="glow"> Total Price $@Html.DisplayFor(modelItem => Model.Price) </h1>
<center>
    <div class="row">
        <div>
            <form asp-action="Checkout">
                <input asp-for="OrderID" type="hidden" />
                <input asp-for="TotalPizza" type="hidden" />
                <input asp-for="Price" type="hidden" />
                <input asp-for="CustID" type="hidden" />
                @*<table>
                        <tr>
                            <td class="tableHead">Total Amount</td>
                            <td class="tableContext">@Html.DisplayFor(modelItem => Model.TotalPizza)</td>
                        </tr>
                        <tr>
                            <td class="tableHead">Total Price</td>
                            <td class="tableContext">@Html.DisplayFor(modelItem => Model.Price)</td>
                        </tr>

                    </table>*@
                <!--payment method-->
                <br />
                <label class="formLabel">Delivery Options</label> <br />
                <div class="choice">
                    <input type="radio" asp-for="Delivery" id="false" value="false" /><label class="option">Carryout</label>
                    <input type="radio" asp-for="Delivery" id="true" value="true" /><label class="option">Delivery</label>
                    <div class="border">
                        <br />
                        <label class="formLabel">Delivery Address</label> <br />
                        <input asp-for="DeliveryAddress" id="addressInput" /><br />
                        <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <label class="formLabel">Payment Options</label> <br />
                <div class="choice">
                    <input type="radio" asp-for="PaymentType" id="false" value="Cash" /><label class="option">Cash</label>
                    <input type="radio" asp-for="PaymentType" id="true" value="Credit Card" /><label class="option">Credit Card</label>
                    <span asp-validation-for="PaymentType" class="text-danger"></span>
                    <div class="border">
                        <br />
                        <img src="~/images/creditCard.png" id="creditCard" alt="Credit Card type" />
                        <br />
                        <br />
                        <ul>
                            <li class="toppingList">
                                <label class="option">Card Number</label>
                                <br />
                                <input asp-for="Card.CardNumber" onKeypress="CardNum(event)" class="makeTextBlack" />
                            </li>
                            <li class="toppingList">
                                <label class="option">Name on Card</label>
                                <br />
                                <input asp-for="Card.CardName" class="makeTextBlack" />
                            </li>
                            <br />
                            <li class="toppingList">
                                <label class="option">Security Code</label>
                                <br />
                                <input asp-for="Card.CecCode" onKeypress="CardNum(event)" class="makeTextBlack" />

                            </li>
                            <li class="toppingList">
                                <label class="option">Expiration Date</label>
                                <br />
                                <input asp-for="Card.DOE" onkeydown="expired(event)" placeholder="MM/YY" class="makeTextBlack" />
                            </li>
                            <br />
                        </ul>
                    </div>
                </div>


                <span asp-validation-for="Card.CardNumber" class="text-danger"></span>
                <span asp-validation-for="Card.CardName" class="text-danger"></span>
                <span asp-validation-for="Card.CecCode" class="text-danger"></span>
                <span asp-validation-for="Card.DOE" class="text-danger"></span>
                <button type="submit" class=" btn btn-default">Order</button>

            </form>
        </div>
    </div>
</center>


