<div class="container menuHeading glow">
    CHOOSE FROM ONE OF OUR SPECIALTY PIZZAS BELOW OR
    <a asp-area="" asp-controller="Pizzas" asp-action="Custom"><button id="menuButton" class="glow">CREATE YOUR OWN</button></a>
</div>
<center>
    <table class="presetTable">
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/sevens.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">Seven's Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                Our World Famous, award winning Seven's Pizza. Tomatoes, Green Peppers, Spinach, Steak and Sausage
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/veggie.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">Veggie Lovers Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                No meat whatsoever! Banana peppers, green peppers, onions, tomatoes, olives and mushrooms on a thin crust

            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/mushroom.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">Mushroom Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                A savory combination of mushrooms and succulent steak with a light amount of cheese and extra sauce
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/bbqchicken.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">BBQ Chicken Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                Tender and juicy strips of grilled chicken covered in barbecue sauce and onions
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/hawaiian.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">Hawaiian Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                Savory combiantion of salami, bacon, pineapple and sweet red peppers on a thin crust
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/buffalochicken.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">Buffalo Chicken Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                Grilled Chicken, onions and banana pepeprs drizzled in our flavorful spicy buffalo sauce
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <a href="#"><img src="~/images/meatlover.png" class="menuImg" /></a>
            </td>
            <td class="pizzaName">Meat Lover's Pizza</td>
        </tr>
        <tr>
            <td class="pizzaDesc">
                All the meat you can imagine! Beef, pepperoni, bacon, salami, sausage, steak and meatballs with two layers of cheese
            </td>
        </tr>
    </table>
</center>

