@model SevensPizzaEntity.Pizza

@{
    ViewData["Title"] = "Preset Pizza";
}

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PizzaName" class="control-label"></label>
                <input asp-for="PizzaName" class="form-control" />
                <span asp-validation-for="PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrustStyle" class="control-label"></label>
                <input asp-for="CrustStyle" class="form-control" />
                <span asp-validation-for="CrustStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sauce" class="control-label"></label>
                <input asp-for="Sauce" class="form-control" />
                <span asp-validation-for="Sauce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SauceAmount" class="control-label"></label>
                <input asp-for="SauceAmount" class="form-control" />
                <span asp-validation-for="SauceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheeseAmount" class="control-label"></label>
                <input asp-for="CheeseAmount" class="form-control" />
                <span asp-validation-for="CheeseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <select asp-for="OrderID" class ="form-control" asp-items="ViewBag.OrderID"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="Toppings" class="control-label"></label>
                <input asp-for="Toppings" class="form-control" />
                <span asp-validation-for="Toppings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>@ViewData["Response"] </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
